/* /* @keyframes flyIn {
    0%{
        background-color: pink;
    }
    100%{
        background-color: pink;
        position: relative;
        top: 400px;
    }
    
}

div{
    height: 200px;
    width: 200px;
    position:relative;
    top: 50px;
    background-color: pink;
    /* animation-name: flyIn;
    animation-duration: 5s; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation: flyIn 3s ease-in 2s infinite alternate-reverse ; */
    /* transition: all 5s ease-in-out 2s;
    /* transform:  scale(2); 
    transform:  scaleX(2);
    transform:  scaleY(2);
    transform:  rotate(-40deg);
    transform:  skew(40deg);
    transform:  translate(-50px,-100px);
    transform:  matrix(0.7,0.8,1,0.5,10,40);
    matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translaateY()) */ 
    /* transform:  skew(20deg,20deg); */

/* } */
/* div:hover{
    background-color: red;
    width: 300px;
} */ 
/* extra small  */
/* @media only screen and (max-width:600px){
    div{
        height: 100px;
        width: 100px;
        background-color: pink;
    }
    
}

/* small devices */
/* @media only screen and (min-width:600px){
    div{
        height: 200px;
        width: 200px;
        background-color: red;
    }
    
}

@media only screen and (min-width:768px){
    div{
        height: 300px;
        width: 300px;
        background-color: pink;
    }
    
} 

  */

#container{
    width: 400px;
    height: 400px;
    position: relative;
    background-color: yellow;
}
#animate{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: pink;


}